.FilePage {
    .ant-image {
        display: block;
        width: 100%;

        .ant-image-img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

// 自定义图片预览样式
.customAntdPreviewsItem {
    overflow: hidden;
    background: #fff;
    border-radius: 10px;

    .anticon {
        font-size: 20px;
        color: #5d5d5d;
        padding: 10px;

        &:hover {
            color: #60a5fa;
        }
    }
}